<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="/processes">
    {{> logo }}
    Derzis
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
      <a class="nav-link{{#ifEquals page_name 'processes'}} active{{/ifEquals}}" href="/processes">
        <i class="bi bi-card-list"></i> Processes</span>
    </a>
      </li>
      <li class="nav-item">
      <a class="nav-link{{#ifEquals page_name 'add_new'}} active{{/ifEquals}}" href="/processes/new"><i class="bi bi-plus-square"></i> Add new</a>
      </li>
    </ul>
  </div>
</nav>
